body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 600px;
  margin: auto;
}
code {
  font-family: "Courier New", Courier, monospace;
  border-bottom: 1px dashed #dcdcdc;
}
label {
  display: block;
}
table {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
table th,
td {
  text-align: left;
  padding: 5px 8px;
}
tr {
  border-bottom: 1px solid #ccc;
}
thead tr {
  background-color: #eee;
}
tr:nth-child(even) {
  background-color: #eee;
}
input[type="text"],
input[type="date"] {
  padding: 5px;
}
form > div {
  margin: 10px 0;
}
